/*

filename: dl.css

author: Kha Nam Tran

created: 28/08/2025

last modified: 11/09/2025

description: lab05.html with external CSS

*/

dl {
  border: 3px double #ccc;
  padding: 0.5em; /* makes dl have double border with padding*/
}
  
dt {
  clear: left;
	float: left;
  width: 40%;
	text-align: right;
  font-weight: bold;
  color: green; /* dt data is aligned right and bolded*/
  }
  
dt::after {
  content: " :"; /*adds a : after dt*/
}

dd {
  width: 55%;
	margin-left: 42%; /* dd has a width of 55% and margin-left of 42%*/
}

