/*

filename: layout

author: Kha Nam Tran

created: 11/09/2025

last modified: 11/09/2025

description: layout for lab05

*/

aside:hover {
    display:block /* Negates the display:hidden in lab04*/
}

/* I really ought to change the lab04 to lab05 but the instructions say otherwise ¯\_(ツ)_/¯*/

.menu {
    display: inline-block; /* Uses inline outline to horizontally make blocks (pls allow me to use flexbox)*/
}

aside {
    border: 4px inset purple; /* 4 pixel purple border with shading enabled*/
    border-radius: 14 px; /* rounds off the rectangle*/
    margin: 1em; /* outside of box*/
    padding: 1em; /* inside of box*/
    background: url(images/fade.jpg) repeat-x left left; /* adds fade image on top left from top left 
    replicating horizontally*/
}

header {
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;
    background-color: lightgrey;
    text-align: center; /* border on header*/
}

footer {
    border-top: 4px double green; /* line break on footer*/
}